n8n/workflows/repair.json
{
  "name": "repair",
  "nodes": [
    {
      "parameters": {
        "path": "repair"
      },
      "id": "a4b5c6d7-e8f9-0123-cdef-123456789014",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "code": "// verify-hmac snippet injected at deploy time\nreturn {\n  statusCode: 200,\n  body: $input.all()\n};"
      },
      "id": "b5c6d7e8-f9a0-1234-ef12-345678901234",
      "name": "verifyHmac",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "code": "const data = $input.all();\nreturn {\n  payload: data,\n  validated: true\n};"
      },
      "id": "c6d7e8f9-a0b1-2345-f123-456789012345",
      "name": "parseAndValidate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key={{$env.GEMINI_API_KEY}}",
        "method": "POST",
        "headers": {
          "Content-Type": "application/json"
        },
        "body": {
          "contents": [
            {
              "parts": [
                {
                  "text": "Repair the following: {{$json.payload}}"
                }
              ]
            }
          ]
        }
      },
      "id": "d7e8f9a0-b1c2-3456-f123-456789012346",
      "name": "AI Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "code": "const response = $input.all();\nreturn {\n  result: response.candidates?.[0]?.content?.parts?.[0]?.text || '',\n  processed: true\n};"
      },
      "id": "e8f9a0b1-c2d3-4567-f123-456789012347",
      "name": "postProcess",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "url": "={{$env.APP_BASE_URL}}/api/public/n8n/callback",
        "method": "POST",
        "headers": {
          "Content-Type": "application/json"
        },
        "body": {
          "workflowId": "repair",
          "result": "={{$json.result}}",
          "status": "completed"
        }
      },
      "id": "f9a0b1c2-d3e4-5678-f123-456789012348",
      "name": "HTTP Request callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1350, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "verifyHmac",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifyHmac": {
      "main": [
        [
          {
            "node": "parseAndValidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parseAndValidate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "postProcess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "postProcess": {
      "main": [
        [
          {
            "node": "HTTP Request callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionTimeout": 60000,
    "errorWorkflow": "_error_handler"
  }
}
